<div id="workhub-info">
  <div class="container">
    <div class="workhub-info-heading">
      <h1>Streamlining Office Operations and Employee Experience.</h1>
    </div>
  </div>
</div>

<div id="workhub-about">
  <div class="workhub-about-heading">
    <h1>About WorkHub</h1>
  </div>
  <div class="workhub-about-detail">
    <ul class="list">
      <li>WorkHub is an integrated web-based platform designed to revolutionize office
         operations and enhance the overall employee experience.
      </li>
      <li>
        With WorkHub, employees can efficiently plan their workweek, access essential
        services, and enjoy a seamless workplace environment.
      </li>
      <li>
        This innovative solution simplifies various aspects of office management, from
        no cost food ordering and cafeteria operations to library management, cab
        booking, seat reservation, and meeting room scheduling.
      </li>
    </ul>
  </div>
</div>