<app-user-profile></app-user-profile>

<div id="workhub-desc">
  <div class="workhub-orderStats">
    <div class="order-heading">
      <h2>Order History</h2>
    </div>
    <p *ngIf="orders.length === 0">Order History is Empty !!!!</p>
    <div class="order-list-group" *ngIf="orders.length > 0">
      <div class="order-data" *ngFor="let order of orders.reverse()">
        <h3>Order Id: {{ order.orderId }}</h3>
        <h3>Order Date : {{ order.orderDate }}</h3>
        <h3>Order Day : {{ order.orderDay }}</h3>
        <h3>Breakfast : {{ order.breakfastType }}</h3>
        <h3>Lunch : {{ order.lunchType }}</h3>        
        <!-- <button class="hist-btn" type="button">Edit</button> -->
      </div>
    </div>
  </div>
</div>
