#workhub-history {
  background-color: rgb(225, 244, 244);
}

.order-data {
  border: 2px solid black;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 1rem 2rem;
}

.order-heading h2 {
  font-size: 2rem;
  text-align: center;
  margin: 10px 0;
}

