<div id="workhub-info">
  <div id="workhub-register">
    <div class="container workhub-grp">
      <div class="workhub-register-heading">
        <h2>Register at WorkHub</h2>
      </div> 
      <form action="#">
        <div class="workhub-register-detail">
          <div class="register-name">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Enter Name">
          </div>
          <div class="register-name">
            <label for="username">Username (Employee Id)</label>
            <input type="text" name="username" id="username" placeholder="Enter Username">
          </div>
          <div class="register-name">
            <label for="email">Email ID</label>
            <input type="email" name="email" id="email" placeholder="Enter Email">
          </div>
          <div class="register-password">
            <label for="name">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter Password">
          </div>
          <div class="register-submit">
            <input class="btn" type="submit" value="register">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>