/* Tabular View */

.tabular-view {
  margin: 1rem;
}

.tabular-view .tabular-timeline {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.tabular-timeline label {
  margin: 0 1rem;
  font-weight: bold;
}

.tabular-timeline input[type='date'] {
  width: 10vw;
  height: 5vh;
  border-radius: 5px;
  outline-width: none;
}

.tabular-display {
  margin: 1rem 1.5rem;
}

table {
  width: 100%;
}

mat-paginator {
  width: 100%;
}