<div class="chart-view">
  <div class="chart-timeline">
    <div class="chart-timeline-start">
      <label for="start-date">Start Date</label>
      <input (change)="updateStartDate()" type="date" name="start-date" id="start-date" [(ngModel)]="startdate">
    </div>
    <div class="chart-timeline-end">
      <label for="start-date">End Date</label>
      <input (change)="updateEndDate()" type="date" name="start-date" id="start-date" [(ngModel)]="enddate">
    </div>
  </div>
  <div class="chart-display">
    <canvas 
      baseChart
      [data]="barChartData"
      [options]="barChartOptions"
      [type]="'bar'"
    ></canvas>
  </div>
</div>
