<header id="workhub-header">
  <div class="container">
    <h2><a [routerLink]="['/home']">WorkHub</a></h2>
    <nav class="workhub-nav">
      <h3 routerLinkActive="active-header">
        <a [routerLink]="['/home']">Home</a>
      </h3>
      <h3 routerLinkActive="active-header">
        <a [routerLink]="['/about']">About</a>
      </h3>
      <h3 routerLinkActive="active-header">
        <a [routerLink]="['/login']">Login</a>
      </h3>
      <h3 routerLinkActive="active-header">
        <a [routerLink]="['/register']">Register</a>
      </h3>
    </nav>
  </div>
</header>
